### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
**/.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# mpeltonen/sbt-idea plugin
**/.idea_modules/

### Node ###
# Logs
**/logs
*.log

# Dependency directory
**/node_modules
